AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BreakBeforeBraces: Mozilla
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
Language: Cpp
NamespaceIndentation: None
# PointerAlignment: left
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
# SpaceBeforeCtorInitializerColon: true
# SpaceBeforeInheritanceColon: true
SpaceBeforeParens: false
SpaceInEmptyParentheses: false
SpacesInParentheses: true
Standard: Cpp11
TabWidth: 4
UseTab: Always
# BasedOnStyle: WebKit
# BasedOnStyle: LLVM
