[Desktop Entry]
Name=Text Editor
Name[de]=Texteditor
Comment=Edit text files
Comment[de]=Textdateien bearbeiten
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=gedit
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName=gedit Text Editor
X-GNOME-FullName[de]=gedit Texteditor
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.28.1
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/gedit/gedit-bugreport.sh
Actions=new-window;new-document;
Keywords=Text;Editor;Plaintext;Write;
Keywords[de]=Text;Editor;Klartext;Schreiben;
DBusActivatable=true
X-XFCE-Source=file:///usr/share/applications/org.gnome.gedit.desktop

[Desktop Action new-window]
Name=New Window
Name[de]=Neues Fenster
Exec=gedit --new-window

[Desktop Action new-document]
Name=New Document
Name[de]=Neues Dokument
Exec=gedit --new-document
